---
import Number from "@/components/process/Number";
import Action from "@/components/process/Action";
import LeftFeature from "@/components/process/LeftFeature";
import RightFeature from "@/components/process/RightFeature";
import "@fontsource/inknut-antiqua/800.css";

import { getLangFromUrl, useTranslations } from "@/i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="relative mt-10 hidden md:block">
	<div class="grid min-h-[2000px] grid-cols-2">
		<div
			class="absolute left-1/2 mt-3 h-[1750px] w-[2px] translate-x-[-50%] transform bg-textColor"
		>
		</div>

		<Number
			containerClass="top-0"
			numberClass={"py-6"}
			textClass={"ml-[40px]"}
			number="1"
			text={t("process.strategy")}
		/>
		<Number
			containerClass="top-[350px]"
			numberClass={"pb-6 pt-10"}
			textClass={"ml-[40px]"}
			number="2"
			text={t("process.creative")}
		/>
		<Number
			containerClass="top-[800px]"
			numberClass={"py-10"}
			textClass={"ml-[60px]"}
			number="3"
			text={t("process.dev")}
		/>
		<Number
			containerClass="top-[1325px]"
			numberClass={"py-10 mr-[30px]"}
			textClass={"pl-0 ml-[25px]"}
			number="4"
			text={t("process.launch")}
		/>

		<Action className="top-[200px]" text={t("process.meeting")} />
		<Action className="top-[300px]" text={t("process.discuss")} />
		<Action className="top-[543px]" text={t("process.revision")} />
		<Action className="top-[635px]" text={t("process.revision")} />
		<Action className="top-[735px]" text={t("process.discuss")} />
		<Action className="top-[1275px]" text={t("process.internal")} />
		<Action className="top-[1780px] font-bold text-xl" text={t("process.support.title")} />
		<Action
			className="top-[1820px]"
			textClass="text-sm font-normal text-center"
			text={t("process.support.des")}
		/>

		<div
			class="absolute left-1/2 top-[1750px] h-4 w-4 translate-x-[-50%] transform rounded-full bg-textColor"
		>
		</div>

		<div>
			<LeftFeature
				className={"mt-[150px]"}
				title={t("process.listen.title")}
				description={t("process.listen.des")}
			/>
			<LeftFeature
				className={"mt-[200px]"}
				title={t("process.wire.title")}
				description={t("process.wire.des")}
			/>
			<LeftFeature
				className={"mt-[50px]"}
				title={t("process.content.title")}
				description={t("process.content.des")}
			/>
			<LeftFeature
				className={"mt-[250px]"}
				title={t("process.testing.title")}
				description={t("process.testing.des")}
			/>
			<LeftFeature
				className={"mt-[300px]"}
				title={t("process.deploy.title")}
				description={t("process.deploy.des")}
			/>
		</div>
		<div>
			<RightFeature
				className={"mt-[250px]"}
				title={t("process.research.title")}
				description={t("process.research.des")}
			/>
			<RightFeature
				className={"mt-[200px]"}
				title={t("process.design.title")}
				description={t("process.design.des")}
			/>
			<RightFeature
				className={"mt-[250px]"}
				title={t("process.dev.title")}
				description={t("process.dev.des")}
			/>
			<RightFeature
				className={"mt-[50px]"}
				title={t("process.seo.title")}
				description={t("process.seo.des")}
			/>
			<RightFeature
				className={"mt-[200px]"}
				title={t("process.training.title")}
				description={t("process.training.des")}
			/>
		</div>
	</div>
</section>
