---
import PageLayout from "@/layouts/Base"; 

const meta = {
	title: "About",
	description: "About page",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, here will be About info in future
		</p>
	</div>
</PageLayout>
