---
import PageLayout from "@/layouts/Base"; 

const meta = {
	title: "About",
	description: "About page",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
			<p>Створювати, а не тільки споживати.</p>
			<p>Під таким девізом я розпочав цей блог. Тут все про мій досвід, стиль життя та інтереси. 
				Пишу про web development, спорт, здоровʼя, звички та самовдосконалення. Конвертую життєвий досвід в структуровані абзаци. 
				Розвиваюсь сам і надихаю інших. Більш детальніше можеш прочитати <a class="cactus-link" href="/posts/introduction/">тут</a>.
		</p>
	</div>
</PageLayout>
