---
import Check from "@/assets/svg/check";
import { getLangFromUrl, useTranslations } from "@/i18n";
import type { UiKeys } from "src/i18n/ui";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { count, pkg } = Astro.props;
---

<div class="mt-4 flex w-full items-start">
	<ul>
		{
			Array(count)
				.fill("")
				.map((_, i) => {
					return (
						<li>
							<div class="flex items-center">
								<Check />
								<span class="ml-1 py-1 text-xs">{t(`home.${pkg}.feature.${i}` as UiKeys)}</span>
							</div>
						</li>
					);
				})
		}
	</ul>
</div>
