---
import Desktop from "@/components/process/Desktop";
import Mobile from "@/components/process/Mobile";
import PageLayout from "@/layouts/Base";

import "@fontsource/inknut-antiqua/800.css";

import { getLangFromUrl, useTranslations } from "@/i18n";

const meta = {
	title: "Comprehensive Web Development Process Guide: From Concept to Launch",
	description:
		"My step-by-step guide covers everything from ideation to deployment, ensuring you navigate the complexities of the web development process with ease.",
};

export function getStaticPaths() {
	return [{ params: { lang: "en" } }, { params: { lang: "uk" } }];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title text-center">{t("process.title")}</h1>
		<p class="text-center">{t("process.des")}</p>
	</div>
	<Desktop />
	<Mobile />
</PageLayout>
